server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "*"
                allowed-methods: "*"
                allowed-headers: "*"

          routes:
            - id: client-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/clients/**
              filters:
                - StripPrefix=1

            - id: account-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/accounts/**
              filters:
                - StripPrefix=1
